body{
    text-align: center;
    padding-top: 2em;
    font-family: sans-serif;
}
#flag{
    border: 8px solid #eee;
}
#input{
    margin-top: 2em;
    background-color: white;
    border: 5px solid black;
    border-radius: 5px;
    width: 10em;
    padding: 0.3em;
    outline: none;
    font-size: 2em;
    text-align: center;
    max-width: 98vw;
}
#answer{
    margin-top: 2em;
    font-size: 3em;
}